In [10]:
# Import libraries to use
import pandas as pd
import os
import yfinance as yf

In [11]:
# Determining the path for each folder/file
raw_data_folder = '../../Tesla_Deliveries_Production/raw_data_'
processed_data_folder = '../../Tesla_Deliveries_Production/processed_data'

data_tesla = os.path.join(raw_data_folder, 'tesla_results.csv')
data_stock_file = os.path.join(raw_data_folder, 'tesla_stock.csv')

In [12]:
# Loading dataframe and take the opportunity to view crucial information
try:
    df_tesla = pd.read_csv(data_tesla)

    print('--- Informations about dataframe ---\n')
    df_tesla.info()

    print('\n--- Firsts lines ---\n')
    print(df_tesla.head())

    print('\n--- Verification of nulls ---\n')
    print(df_tesla.isnull().sum())

except Exception as e:
    print(f'occurred a error on try load the file: {e}')

--- Informations about dataframe ---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  2640 non-null   int64
 1   Month                 2640 non-null   int64
 2   Region                2640 non-null   object
 3   Model                 2640 non-null   object
 4   Estimated_Deliveries  2640 non-null   int64
 5   Production_Units      2640 non-null   int64
 6   Avg_Price_USD         2640 non-null   float64
 7   Battery_Capacity_kWh  2640 non-null   int64
 8   Range_km              2640 non-null   int64
 9   CO2_Saved_tons        2640 non-null   float64
 10  Source_Type           2640 non-null   object
 11  Charging_Stations     2640 non-null   int64
dtypes: float64(2), int64(7), object(3)
memory usage: 247.6+ KB

--- Firsts lines ---

   Year  Month         Region    Model  Estimated_Deliveries  \
0  2023      5         Europe  Model S                 17646
1  2015      2           Asia  Model X                  3797
2  2019      1  North America  Model X                  8411
3  2021      2  North America  Model 3                  6555
4  2016     12    Middle East  Model Y                 12374

   Production_Units  Avg_Price_USD  Battery_Capacity_kWh  Range_km  \
0             17922       92874.27                   120       704
1              4164       62205.65                    75       438
2              9189      117887.32                    82       480
3              7311       89294.91                   120       712
4             13537      114846.78                   120       661

   CO2_Saved_tons           Source_Type  Charging_Stations
0         1863.42  Interpolated (Month)              12207
1          249.46    Official (Quarter)               7640
2          605.59  Interpolated (Month)              14071
3          700.07    Official (Quarter)               9333
4         1226.88    Estimated (Region)               8722

--- Verification of nulls ---

Year                    0
Month                   0
Region                  0
Model                   0
Estimated_Deliveries    0
Production_Units        0
Avg_Price_USD           0
Battery_Capacity_kWh    0
Range_km                0
CO2_Saved_tons          0
Source_Type             0
Charging_Stations       0
dtype: int64

In [13]:
# Importing TESLA stock data
ticker = 'TSLA'

star_date = '2015-01-01'
end_date = '2025-12-31'

data_stock = yf.download(
    ticker, start=star_date, end=end_date
)

data_stock.to_csv(data_stock_file)

data_stock

C:\Users\Thiag\AppData\Local\Temp\ipykernel_7076\1011927160.py:7: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data_stock = yf.download(
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            TSLA        TSLA        TSLA        TSLA       TSLA
Date
2015-01-02   14.620667   14.883333   14.217333   14.858000   71466000
2015-01-05   14.006000   14.433333   13.810667   14.303333   80527500
2015-01-06   14.085333   14.280000   13.614000   14.004000   93928500
2015-01-07   14.063333   14.318667   13.985333   14.223333   44526000
2015-01-08   14.041333   14.253333   14.000667   14.187333   51637500
...                ...         ...         ...         ...        ...
2025-11-10  445.230011  449.670013  433.359985  439.600006   76515900
2025-11-11  439.619995  442.489990  432.359985  439.399994   60533200
2025-11-12  430.600006  442.329987  426.559998  442.149994   58513500
2025-11-13  401.989990  424.500000  396.339996  423.130005  118948000
2025-11-14  404.350006  412.190002  382.779999  386.299988  105248100

[2735 rows x 5 columns]