In [ ]:
import pandas as pd
import os

In [34]:
project_file = '../Tesla_Deliveries_Production'
file_name = 'tesla_deliveries_dataset_2015_2025.csv'

data_tesla = os.path.join(project_file,file_name)

In [35]:
try:
    df = pd.read_csv(data_tesla)

    print('--- Informations about dataframe ---\n')
    df.info()

    print('\n--- Firsts lines ---\n')
    print(df.head())

    print('\n--- Verification of nulls ---\n')
    print(df.isnull().sum())

except Exception as e:
    print(f'occurred a error on try load the file: {e}')

--- Informations about dataframe ---

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  2640 non-null   int64
 1   Month                 2640 non-null   int64
 2   Region                2640 non-null   object
 3   Model                 2640 non-null   object
 4   Estimated_Deliveries  2640 non-null   int64
 5   Production_Units      2640 non-null   int64
 6   Avg_Price_USD         2640 non-null   float64
 7   Battery_Capacity_kWh  2640 non-null   int64
 8   Range_km              2640 non-null   int64
 9   CO2_Saved_tons        2640 non-null   float64
 10  Source_Type           2640 non-null   object
 11  Charging_Stations     2640 non-null   int64
dtypes: float64(2), int64(7), object(3)
memory usage: 247.6+ KB

--- Firsts lines ---

   Year  Month         Region    Model  Estimated_Deliveries  \
0  2023      5         Europe  Model S                 17646
1  2015      2           Asia  Model X                  3797
2  2019      1  North America  Model X                  8411
3  2021      2  North America  Model 3                  6555
4  2016     12    Middle East  Model Y                 12374

   Production_Units  Avg_Price_USD  Battery_Capacity_kWh  Range_km  \
0             17922       92874.27                   120       704
1              4164       62205.65                    75       438
2              9189      117887.32                    82       480
3              7311       89294.91                   120       712
4             13537      114846.78                   120       661

   CO2_Saved_tons           Source_Type  Charging_Stations
0         1863.42  Interpolated (Month)              12207
1          249.46    Official (Quarter)               7640
2          605.59  Interpolated (Month)              14071
3          700.07    Official (Quarter)               9333
4         1226.88    Estimated (Region)               8722

--- Verification of nulls ---

Year                    0
Month                   0
Region                  0
Model                   0
Estimated_Deliveries    0
Production_Units        0
Avg_Price_USD           0
Battery_Capacity_kWh    0
Range_km                0
CO2_Saved_tons          0
Source_Type             0
Charging_Stations       0
dtype: int64